[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "external/CrossShader"]
	path = external/CrossShader
	url = https://github.com/alaingalvan/CrossShader.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "external/glTF-Sample-Models"]
	path = external/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
